<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Brahm's mini project</title>
    
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
    
      <form action="/analyze" method="POST">
        <textarea
          name="rawtext"
          class="form-control"
          placeholder="enter your text here"
          rows="3"
        ></textarea>
        <button  type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
