<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Brahm's Mini Project</title>
   
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
   
    <div class="container" style="display:flex; justify-content: space-around;">
        <p class="original_title col-sm-4" >Original Text</p>
        <p class="summary_title col-sm-4">Summary</p>
    </div>

    <div class="container srt">
        <p class="originalTxt col-sm-6">{{original_text}}</p>
        <p class="summaryTxt col-sm-6">{{summary}}</p>
    </div>
    
  </body>
</html>
